/* タイトルのフォントfont-family: "Inria Sans", sans-serif; */
html{
    color: #150A02;
    background-color: #F5F4F2;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    scroll-behavior: smooth;
}
.sp-br{
    display: none;
}
@media (max-width: 768px) {
    .sp-br{
        display: block;
    }
    .pc-br{
        display: none;
    }
}

/* ヘッダー
------------------------------------------------------------ */
.header{
    padding: 15px 110px;
    background-color: #F5F4F2;
    box-shadow: 0 2px 8px rgba(21, 10, 2, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.hamburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
}
.header-nav-list{
    margin-left: 20px;
    white-space: nowrap;
}
.hamburger .btn-gNav{
    position: fixed;
    top: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    background: rgba(227,139,65,0.8);
    border-radius: 50%;
    z-index: 12;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
    box-shadow: 0 2px 8px rgba(21, 10, 2, 0.12);
}
.hamburger .btn-gNav span{
    position: absolute;
    left: 18px;
    width: 28px;
    height: 2px;
    background: #F5F4F2;
    border-radius: 10px;
    transition: all 400ms;
}
.hamburger .btn-gNav span:nth-child(1){
    top: 21px;
}
.hamburger .btn-gNav span:nth-child(2){
    top: 31px;
}
.hamburger .btn-gNav span:nth-child(3){
    top: 41px;
}
.hamburger .btn-gNav.open span:nth-child(1){
    top: 31px;
    transform: rotate(-45deg);
}
.hamburger .btn-gNav.open span:nth-child(2){
    opacity: 0;
}
.hamburger .btn-gNav.open span:nth-child(3){
    top: 31px;
    transform: rotate(45deg);
}
.btn-gNav{
    display: none;
}


/* ヘッダー（スマホ） */
@media (max-width:767px){
    .header{
        box-shadow: initial;
        padding-left:  30px;
        padding-right: 30px;
        background-color: transparent;
    }
    .header-logo{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .header-nav-list{
        margin-left:initial;
        font-size: 18px;
    }
    .btn-gNav{
        display: block;
    }
    .gNav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 231, 213, 0.8);
        font-size: 16px;
        box-sizing: border-box;
        z-index: 1;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gNav.open{
        right: 0;
    }
    .gNav .header-nav{
        padding: 0;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gNav .header-nav-list{
        width: 86%;
        padding: 20px;
    }
}


/* トップ
------------------------------------------------------------ */
.mainvisual-pc{
    width: 100vw;
    height: auto;
}
.mainvisual-sp{
    display: none;
}
.top-message{
    padding: 0 5%;
    
}
.top-message-inner{
    background-color: #F5F4F2;
    border: 1px solid #B4ACA5;
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.top-message-left{
    padding: 30px 5px;
}
.top-message-left-ttl{
    font-family: "Inria Sans", sans-serif; 
    font-size: 30px;
    margin-bottom: 10px;
}
.top-message-left-txt{
    margin-bottom: 20px;
}
.top-message-left-btn{
    background-color: #E38B41;
    color: #F5F4F2;
    border-radius: 20px;
    padding: 10px 30px;
}
.top-message-left-btn:hover{
    background-color: #fcbf8d;
    transition: 0.5s;
}
.top-message-right{
  border-left: 1px solid #B4ACA5;
  padding: 30px 10px 0 50px;
}
.top-message-right-ttl{
    font-family: "Inria Sans", sans-serif; 
    font-size: 30px;
    margin-bottom: 10px;
}
.top-message-right-txt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* トップスマホ用レスポンシブ */
@media (max-width: 768px) {
    .mainvisual-pc{
    display: none;
    }
    .mainvisual-sp{
        display: block;
        width: 100vw;
        height: auto;
    }
    .top-message-inner{
        background-color: initial;
        border: initial;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .top-message-left{
        padding-top: 50px;
        text-align: center;
    }
    .top-message-left-ttl{
        margin-bottom: 20px;
        font-size: 40px;
    }
    .top-message-left-txt{
        margin-bottom: 30px;
    }
    .top-message-right{
    border-left: initial;
    padding: 50px 0 40px;
    text-align: center;
    }
    .top-message-right-ttl{
        margin-bottom: 30px;
        font-size: 40px;
    }
}

/* Cafeaについて
------------------------------------------------------------ */
.about{
    padding-top: 110px;
}
.about-inner{
    max-width: 900px;
    padding: 0 5%;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
}
.about-img{
    max-width: 240px;
}
.about-txt-ttl{
    font-family: "Inria Sans", sans-serif; 
    font-size: 64px;
    margin-bottom: 10px;
}

/* Cafeaについてスマホ用レスポンシブ */
@media (max-width: 768px) {
    .about{
        display: none;
    }
}

/* 4つのこだわり
------------------------------------------------------------ */
.point{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 120px 5%;
}
.point-box{
    text-align: center;
}
.icon-wrap{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px;
}
.point-box-ttl{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/* 4つのこだわりスマホ用レスポンシブ */
@media (max-width: 768px) {
    .point{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 50px 5% 0;
    }
    .point-box{
        text-align: center;
        width: 45%;
        margin-bottom: 20px;
    }
    .icon-wrap{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 40px;
    }
    .point-box-ttl{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
}

/* 3枚の写真
------------------------------------------------------------ */
.photo-slider{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 30px;
    margin: 0 auto;
    padding: 0 5%;
}
.photo-box{
    text-align: center;
}
.photo-box-img{
    max-width: 100%;
}
.photo-box-ttl{
    font-family: "Inria Sans", sans-serif;
    font-size: 1.6rem;
    margin-top: 10px;
}

/* 3枚の写真スマホ用レスポンシブ */
@media (max-width: 768px) {
    .photo-slider {
        position: relative;
        height: auto;
    }
    .photo-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease;
        pointer-events: none;
        padding: 0 5%;
    }
    .photo-box.active {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
}




/* メニュー
------------------------------------------------------------ */
.menu{
    padding: 150px 5% 0;
    max-width: 1200px;
    margin: 0 auto;
}
.menu-inner{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.menu-ttl{
    font-family: "Inria Sans", sans-serif;
    font-size: 64px;
    margin-bottom: 60px;
    text-align: center;
}
.menu-section{
    margin-bottom: 50px;
}
.menu-section-ttl{
    font-family: "Inria Sans", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    border-bottom: 2px solid #150A02;
}
.menu-section-list{
    margin-bottom: 10px;
}
.menu-section-list-ttl{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* メニュースマホ用レスポンシブ */
@media (max-width: 768px) {
    .menu{
        padding: 80px 5% 0;
    }
    .menu-inner{
        display: flex;
        flex-direction: column
    }
    .menu-ttl{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .menu-section{
        margin-bottom: 10px;
    }
    .menu-section-ttl{
        border-bottom: none;
        font-size: 20px;
        margin-bottom: 16px;
    }
    .menu-section-list{
        margin-bottom: 10px;
        display: none;
        padding-left: 20px;
    }
    .menu-section.open .menu-section-list {
        display: block;
    }
    .menu-toggle {
        position: relative;
        cursor: pointer;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .menu-toggle::before {
        content: "▼";
        font-size: 14px;
        position: absolute;
        left: 0;
        top: 2px;
        transition: transform 0.3s;
    }
    .menu-section.open .menu-toggle::before {
        transform: rotate(180deg); /* 上向き矢印に変化 */
    }
    .menu-section-list-ttl{
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .menu-section-list-txt{
        font-size: 14px;
    }
}


/* 予約
------------------------------------------------------------ */
.reservation {
    background-color: #ECEBE7;
}
.reservation-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reservation-img {
    max-width: 50%;
    height: auto;
}
.reservation-content{
    width: 45%;
    text-align: left;
    padding-right: 5%;
}
.reservation-ttl{
    font-family: "Inria Sans", sans-serif;
    font-size: 56px;
    margin-bottom: 60px;
}
.reservation-txt{
    margin-bottom: 80px;
}
.reservation-btn{
    background-color: #E38B41;
    color: #F5F4F2;
    border-radius: 20px;
    padding: 10px 30px;
    max-width: 170px;
    text-align: center;
    margin: 0 auto;

}
.reservation-btn:hover{
    background-color: #fcbf8d;
    transition: 0.5s;
}


/* 予約スマホ用レスポンシブ */
@media (max-width: 768px) {
    .reservation {
        padding-top: 70px;
        background-color: initial;
    }
    .reservation-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .reservation-img {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .reservation-content {
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }
    .reservation-ttl{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .reservation-txt{
        margin-bottom: 30px;
    }
}


/* アクセス
------------------------------------------------------------ */
.access{
    padding-top: 200px;
    margin-bottom: 150px;
}
.access-ttl{
    font-family: "Inria Sans", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
}
.access-attention{
    display: block;
    text-align: right;
}
.access-txt{
    max-width: 1100px;
    margin: 20px auto 0;
    padding: 0 5%;
}
.access-txt-info{
    margin-bottom: 30px;
    line-height: 1.6rem;
}

/* アクセススマホ用レスポンシブ */
@media (max-width: 768px) {
    .access{
        padding-top: 80px;
        margin-bottom: 50px;
    }
    .access-ttl{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .access-txt-info{
        margin-bottom: 20px;
        line-height: 1.6rem;
    }
}


/* フッター
------------------------------------------------------------ */
.footer{
    text-align: center;
    padding: 12px 0;
    border: 1px solid #B4ACA5;
}




/* フォームページ
------------------------------------------------------------------------------------------------------------------------ */
.reservationform{
    text-align: center;
    margin-bottom: 100px;
}
.reservationform-ttl{
    font-family: "Inria Sans", sans-serif;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.reservationform-subttl{
    font-size: 20px;
    padding: 0 15px 10px;
    border-bottom: 1px solid #150A02;
    display: inline-block;
    margin-bottom: 80px;
}
.reservationform-required{
    font-size: 12px;
    background-color: #E38B41;
    color: #F5F4F2;
    border-radius: 12px;
    padding: 2px 4px 3px;
    text-align: center;
}
.reservationform-form{
    padding: 0 5%;
    max-width: 800px;
    margin: 0 auto;
}
.reservationform-row{
    display: grid;
    grid-template-columns: 40px 150px 1fr;
    align-items: center;
    margin-bottom: 30px;
}
.reservationform-input-wrap{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    text-align: left;
}
.reservationform-input-wrap label{
    display: flex;
    align-items: center;
    gap: 4px;
}
.reservationform-input-wrap input[type="radio"]{
    appearance: radio;
    -webkit-appearance: radio;
    width: auto;
    height: auto;
}
.reservationform-smallinput{
    background-color: #E0DBD7;
    padding: 4px 8px;
    width: 150px;
    font-size: 12px;
}
.reservationform-row-textarea{
    align-items: start;
}
.reservationform-label{
    margin: 0 30px 0 10px;
    justify-self: start;
}
.reservationform-input,
.reservationform-textarea{
    width: 100%;
    background-color: #E0DBD7;
    padding: 12px;
    text-align: left;
}
.reservationform-textarea{
    height: 180px;
}
.reservationform-btn{
    display: block;
    margin: 80px auto 0;
    background-color: #E38B41;
    color: #F5F4F2;
    border-radius: 20px;
    padding: 10px 30px;
    max-width: 170px;
    text-align: center;
    margin: 0 auto;
}
.reservationform-btn:hover{
    background-color: #fcbf8d;
    transition: 0.5s;
}

/* アクセススマホ用レスポンシブ */
@media (max-width: 768px) {
    .reservationform{
        margin-bottom: 60px;
    }
    .reservationform-ttl{
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .reservationform-subttl{
        font-size: 18px;
        margin-bottom: 50px;
    }
    .reservationform-row{
        display: block;
        text-align: start;
    }
    .reservationform-required{
        margin-right: 5px;
    }
    .reservationform-label{
        font-size: 18px;
    }
    .reservationform-input,
    .reservationform-input-wrap,
    .reservationform-textarea{
        margin-top:10px;
    }
    .reservationform-label{
        margin: 0;
    }
}

